
#front {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}

.correct-True { background-color: #0f6; color: #000;}
.correct-False {background-color: #f00; color: #fff;}
.invisible { display: none;}

#timeline { border: #000 solid 1px; font-size: .8em;}
#decks {width: 100%; }
#totaldue {position: absolute; bottom: 0px; right: 0px; font-size: 2em; border: #000 solid 1px; }
#recenttests {position: absolute; bottom: 0px; left: 0px; font-size: 2em; border: #000 solid 1px; }

tr.even td { background-color: #eee; }

#tests { height: 100px; }
#tests td {border: 0px; padding: 0px; vertical-align: bottom;}
#tests td.False div.spacer {background-color: #f00;}

div.old {background-color: #090;}
div.new {background-color: #0f0;}

#content {
		margin-top: 50px;
}

#card {
		font-size: 30px;
		margin-top: 90px;
}
#back {
		font-size: 30px;
}

#flip-btn {
margin-top: 50px;
}

#rightbutton {
		width: 100%;
}
#wrongbutton {
		width: 100%;
}
