# fly.toml file generated for sebastian on 2021-10-24T16:15:38+01:00

app = "sebastian"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  ALLOWED_HOSTS="cards.thraxil.org,sebastian.fly.dev"
  DB_USER="sebastian"
  DB_PORT="5432"
  DB_HOST="pgbouncer.z7y24odj642ogqd1.flympg.net"
  AWS_S3_CUSTOM_DOMAIN="d1txj5n8ebgwx3.cloudfront.net"
  AWS_STORAGE_BUCKET_NAME="thraxil-sebastian-static-prod"

[deploy]
  release_command = "migrate"

[[statics]]
  guest_path = "/app/staticfiles"
  url_prefix = "/static"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

  [[services.http_checks]]
    interval = 10000
    grace_period = "5s"
    method = "get"
    path = "/smoketest/"
    protocol = "http"
    timeout = 2000
    tls_skip_verify = false
    [services.http_checks.headers]
        Host="sebastian.fly.dev"
