Django==5.0.13
psycopg2==2.9.9
gunicorn==22.0.0
django-smoketest==1.2.1
django-debug-toolbar==4.3.0
django-waffle==4.1.0
sentry-sdk==2.8.0
whitenoise==6.6.0
factory_boy==3.3.0
mypy==1.11.1
mypy-extensions==1.0.0
django-stubs[compatible-mypy]==5.0.4
types-requests==2.32.0.20250515
tomli==2.0.1
