Django==2.1.5

pytz==2018.9
Markdown==3.0.1
psycopg2-binary==2.7.6.1
Pillow==5.4.1
coverage==4.5.2
pep8==1.7.1
pyflakes==2.0.0
mccabe==0.6.1
pycodestyle==2.4.0
enum34==1.1.6
configparser==3.5.2
flake8==3.6.0
statsd==3.3.0
gunicorn==19.9.0
six==1.12.0
boto==2.49.0
python-dateutil==2.7.5
sqlparse==0.2.4

django-statsd-mozilla==0.4.0
django-markwhat==1.6.1
django-appconf==1.0.2
django_compressor==2.2
django-storages==1.7.1
django-cacheds3storage==0.1.2
django-smoketest==1.1.0
django-debug-toolbar==1.11
django-waffle==0.15.0
django-jenkins==0.110.0
raven==6.10.0

thraxilsettings==3.1.0
