{% load compress %}
<html>
<head><title>sebastian</title>

{% compress css %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/site.css" rel="stylesheet">
{% endcompress %}
{% block js %}{% endblock %}
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
							<li><a href="/test/">test</a></li>
							<li><a href="/add_card/">add</a></li>
							<li><a href="/stats/">stats</a></li>
							<li><a href="/decks/">decks</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="container">
<div id="content">
{% block content %}{% endblock %}
</div>
</div>
</body>
</html>
