{% extends "base.html" %}
{% load markup %}

{% block content %}

<h2 style="background-color: #{{ deck.bgcolor }}; color: #{{ deck.fgcolor }};">{{ deck.name }}</h2>

<table class="table table-striped table-bordered table-condensed
							table-hover">
	<thead>
		<tr>
			<th>Front</th>
			<th>Back</th>
			<th>Rung</th>
			<th>Ease</th>
			<th>Due</th>
		</tr>
	</thead>
	<tbody>
{% for card in usercards %}
<tr>
<td><a href="{{ card.card.get_absolute_url }}">
{% if card.card.front.content %}
{{ card.card.front.content }}
{% endif %}
{% if card.card.front.image %}
[image cards are broken right now]
{% endif %}
</a></td>
<td>
{% if card.card.back.content %}
{{ card.card.back.content }}
{% endif %}

{% if card.card.back.image %}
[image cards are broken right now]
{% endif %}
</td>
<td>{{ card.rung }}</td>
<td>{{ card.ease }}</td>
<td>{% ifnotequal card.rung -1 %}{{ card.due|date:"D, F j G:i:s" }}{% endifnotequal %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
