{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block js %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/test.js"></script>
{% endblock %}

{% block content %}

{% if card %}
<header class="jumbotron subhead">
		<div class="row">
			<div class="span12">
				<h1 style="background-color: #{{ card.card.deck.bgcolor }}; color: #{{ card.card.deck.fgcolor }};">{{ card.card.deck.name }}</h1>
			</div>
		</div>
</header>


	<div class="row" id="card">
	<div class="span12">
		{% if card.card.front.content %}
		<span style="margin: 10px; font-size: {{card.card.front.size}}px">{{ card.card.front.content }}</span>
		{% endif %}

		{% if card.card.front.image %}
		<img src="{% thumbnail card.card.front.image 600x600 %}" />
		{% endif %}
	</div>
	</div>



<div class="row">
	<div class="span12 btn-group">
		<a href="#back" class="btn btn-large btn-block" id="flip-btn" onclick="flip();return false">flip</a>
	</div>
</div>

<br />

<div id="back" class="invisible hero-unit">

{% if card.card.back.content %}
{{ card.card.back.content }}
{% endif %}

{% if card.card.back.image %}
<img src="{% thumbnail card.card.back.image 600x600 %}" />
{% endif %}

</div>

<div id="form" class="invisible">
<form action="." method="post" id="testform">
<input type="hidden" name="card" value="{{ card.id }}" />
<input type="hidden" name="right" value="" id="right" />

<div class="row">
	<div class="span6 btn-group">
		<input type="button" class="btn btn-large btn-success btn-block" name="rightbutton" value="yes" id="rightbutton"
       onclick="submitForm('yes')" /></div>
	<div class="span6 btn-group">
		<input type="button" class="btn btn-large btn-danger btn-block" name="wrongbutton" value="no" id="wrongbutton"
					 onclick="submitForm('no')" />
	</div>
</div>
</form>
</div>


<script type="application/javascript">
jQuery(function() {
  jQuery(document).keyup(keyup_handler);
});
</script>
{% else %}
<p>no due cards and none in your unlearned pool. 
Your next card is due at {{ first_due.due|date:"D, F j G:i:s" }}. Go read something and
  come back then.
</p>
{% endif %}
<p id="totaldue">{{ total_due }}</p>

<div id="recenttests">
<table id="tests" cellpadding="0" cellspacing="0">
<tr>
{% for test in recent_tests %}
{% if test.correct %}
<td class="True">
<table cellpadding="0" cellspacing="0">
<tr>
<td><div class="spacer new" style="height: {{test.rung_diff}}0px; width: 1px;"></div></td>
</tr>
<tr>
<td><div class="spacer old" style="height: {{test.old_rung}}0px; width: 1px;"></div></td>
</tr>
</table>
</td>
{% else %}
<td class="False">
<div class="spacer" style="height: {{test.old_rung}}0px; width: 1px;"></div>
</td>
{% endif %}
{% endfor %}
</table>
</div>


{% endblock %}
