{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block js %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/site_media/js/test.js"></script>
{% endblock %}

{% block content %}

<p id="totaldue">{{ total_due }}</p>

{% if card %}
<div id="decks">
{% for deck in card.card.decks %}
<div style="background-color: #{{ deck.bgcolor }}; color: #{{ deck.fgcolor }};">{{ deck.name }}</div>
{% endfor %}
</div>

<div id="front">

{% if card.card.front.content %}
{{ card.card.front.content }}
{% endif %}

{% if card.card.front.image %}
<img src="{% thumbnail card.card.front.image 600x600 %}" />
{% endif %}

</div>



<p><a href="#back" onclick="flip();return false">flip</a></p>

<div id="back" class="invisible">
{% if card.card.back.content %}
{{ card.card.back.content }}
{% endif %}

{% if card.card.back.image %}
<img src="{% thumbnail card.card.back.image 600x600 %}" />
{% endif %}

<hr />
<form action="/test/" method="post" id="testform">
<input type="hidden" name="card" value="{{ card.id }}" />
<input type="hidden" name="right" value="" id="right" />
<input type="button" name="rightbutton" value="yes" id="rightbutton"
       onclick="submitForm('yes')" />
<input type="button" name="wrongbutton" value="no" id="wrongbutton"
       onclick="submitForm('no')" />
</form>
</div>

<script type="application/javascript">
jQuery(function() {
  jQuery(document).keyup(keyup_handler);
});
</script>
{% else %}
<p>no due cards and none in your unlearned pool. 
Your next card is due at {{ first_due.due|date:"D, F j G:i:s" }}. Go read something and
  come back then.
</p>
{% endif %}

{% endblock %}
