on: push
name: run tests
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
        test-action:
          - test
          - check
          - ruff-check
          - mypy
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: .venv
          # uv.lock and pyproject.toml have
          # versioning info that would impact the environment. hashFiles
          # only takes a single file path or pattern at the moment.
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('uv.lock') }}
      - id: test
        name: Test
        run: |
          pip install uv==0.7.7
          make ${{ matrix.test-action }}
